// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
h1 {
  color: darkblue;
}
li a {
  font-size: 1.5rem;
  text-decoration: none;
  color: darkslateblue;
}